li.card {
  height:100px;
  width:100px;
  border-width: 5px,5px,5px,5px;
  border: double black;
  margin: 5px,5px,5px,5px;
  display: inline-block;
}

.hearts {
  background-color: white;
  background-image: url("images/hearts.png");
  background-size: 100%;
  text-align: center;
}

.diamonds {
  background-color: yellow;
  background-image: url("images/diamonds.png");
  background-size: 100%;
  text-align: center;

}

.clubs {
  background-color: green;
  background-image: url("images/clubs.png");
  background-size: 100%;
  text-align: center;

}

.spades {
  background-color: blue;
  background-image: url("images/spades.png");
  background-size: 100%;
  text-align: center;

}
